div .search-box {
    padding: 30px;
}

div .qtd-prod {
    width: 70px;
}

div .form-foot {
    height: 20em;
    margin-top: 15em;
    position: relative;
}

table caption {
    padding: 30px;
    text-align: left;
}